<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue To Do List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/style.css">
  </head>
  <body>
    <div id="app">
        <div class="container">
            <div class="add_todo ">
                <h2 class="py-3">Add a new Todo</h2>
                <input type="text" v-model="newTask">
                <button @click="addTask">Add a Todo</button>
                <small class="text-danger" v-show="error">Devi inserire una task di almeno 5 caratteri</small>
            </div>
            <div class="todo_list">
                <h3 class="py-3">To Do List</h3>
                <ul>
                    <li v-for="(task, i) in tasks" :class="tasks[i].done === true ? 'sbarra' : ''">
                        {{task.text}}
                        <i class="fa-regular fa-circle-xmark" @click="delete(i)"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.41/dist/vue.global.min.js"></script>
    <script src="./assets/js/main.js"></script>
  </body>
</html>